# BUILT IN DS:
    1. List
    2. Tuple
    3. Dictionary
    4. Sets

# LIST
    list are heterogenous data types 
    list are mutable

In [1]:
# empty list
list1=[]

In [2]:
list1

[]

In [ ]:
APPEND  
EXTEND
INSERT
DEL
POP
REMOVE

#    APPEND

In [3]:
list2=[1,2,3,"siddharth"]

In [5]:
# adding single element in a list towards the end of list using APPEND
list2.append(2)

In [6]:
list2

[1, 2, 3, 'siddharth', 2]

In [7]:
# adding 2 elements as a tuple as at a time only single element can be added to list
list2.append((2,0))

In [8]:
list2

[1, 2, 3, 'siddharth', 2, (2, 0)]

# EXTEND

In [10]:
# adding more than 1 element in list using extend function  but elements are passed in a list
list2.extend((9,9,0))

In [11]:
list2

[1, 2, 3, 'siddharth', 2, (2, 0), 9, 9, 0]

# INSERT

In [12]:
list2.insert(2,"at 2nd index")

In [13]:
list2

[1, 2, 'at 2nd index', 3, 'siddharth', 2, (2, 0), 9, 9, 0]

# DEL

In [14]:
# deleting elements from 2nd index
del list2[1]

In [15]:
list2

[1, 'at 2nd index', 3, 'siddharth', 2, (2, 0), 9, 9, 0]

# POP

In [16]:
# deleting the element at 4th position
list2.pop(4)

2

# REMOVE

In [20]:
# removes the first occurence of the argument passed
list2.remove(9)

In [21]:
list2

['at 2nd index', 3, 'siddharth', (2, 0), 9, 0]

## SORT AND SORTED

In [25]:
# sorted method sorts the list but does not change the original list
demo=[4,7,8,99,90,34]

In [26]:
# gives the sorted list which can be stored to a variable for usage but the original list remains unaltered
sorted(demo)

[4, 7, 8, 34, 90, 99]

In [27]:
demo

[4, 7, 8, 99, 90, 34]

In [28]:
demo1=[23,2,44,90,7,-90]

In [31]:
# sort function changes the original list and if reverse=True is passed as argument then reverse/descending of list is printed
demo1.sort(reverse=True)

In [32]:
demo1

[90, 44, 23, 7, 2, -90]

In [33]:
# sort function sorts the original list but if arg reverse=True is not passed then it is sorted in ascending order
demo1.sort()

In [34]:
demo1

[-90, 2, 7, 23, 44, 90]

## list index

In [36]:
list2

['at 2nd index', 3, 'siddharth', (2, 0), 9, 0]

In [37]:
# gives the index of element in the list
list2.index(3)

1