# Basics

# print function

In [2]:
print('hello world')

hello world

In [6]:

print("Hello World")

Hello World

In [4]:
print("h")

h

# Escape sequence

In [12]:
# Expected output : Line A \n Line B with escape sequence as normal text
print("Line A \\n Line B")

Line A \n Line B

In [13]:
# this is \\ double backslash
print("this is \\\\ double backslash")

this is \\ double backslash

In [20]:
#these are /\/\/\ mountains
print("these are /\\/\\/\\  mountains")

these are /\/\/\  mountains

In [21]:
# he is      awesome
print("he is \t awesome")

he is 	 awesome

In [22]:
# \" \n \t \' 
print("\\\ \\n \\t \\\'")

\\ \n \t \'

# Raw text using r

In [23]:
# \" \n \t \' 
#raw text 
print(r"\" \n \t \' ")

\" \n \t \'

In [28]:
# he is      awesome
print("he is \t awesome")

he is 	 awesome

# Emoji using Unicode

In [29]:
# printing emoji using unicode U+1F603
# https://unicode.org/emoji/charts/full-emoji-list.html
print("\U0001F603")

ðŸ˜ƒ

# arithmetic

In [31]:
# addition
print(2+3+4)

9

In [32]:
# floating point division
# quotient and remainder
print(2/4)

0.5

In [36]:
# quotient in floating point division is the number before decimal point
print(4/2)

2.0

In [37]:
# quotient but in integer division
print(4//2)

2

In [35]:
# remainder
print(4%2)

0

In [38]:
print(2//4)

0

In [39]:
#exponents
print(2**3)

8

In [40]:
print(2**2)

4

In [45]:
# square root using exponents
print(2**0.5)

1.4142135623730951

In [46]:
#round of a no
print(round(2**0.5))

1

In [47]:
# round upto 4 places
print(round(2**0.5,4))

1.4142

# String

In [48]:
fname="Siddharth"
lname="Arora"
fullname=fname +lname

In [49]:
fullname

'SiddharthArora'

In [50]:
fullname1= fname+ " "+ lname

In [51]:
fullname1

'Siddharth Arora'

In [53]:
fname+1

TypeError: can only concatenate str (not "int") to str

In [54]:
fname+"1"

'Siddharth1'

In [55]:
fname+str(1)

'Siddharth1'

In [56]:
fname*3

'SiddharthSiddharthSiddharth'

In [57]:
name=input("enter your name")

enter your namesid

In [58]:
print("hello "+name)

hello sid

In [63]:
no1=int(input("enter a no "))
no2=int(input("enter another no "))
sumy=print("Sum of the no's is " +str(no1+no2))

enter a no 2
enter another no 3
Sum of the no's is 5

In [66]:
no3=float(input("enter a no "))
no4=float(input("enter another no "))
sumt=print("sum of the no is "+ str(no3+no4))

enter a no 1
enter another no 2
sum of the no is 3.0

In [67]:
name,age="siddharth",25

In [68]:
name

'siddharth'

In [69]:
age

25

In [70]:
print("hello "+name+ " your age is "+str(age))

hello siddharth your age is 25

In [72]:
name,age=input("enter your name and age ").split()
print("your name is "+name)
print("your age is "+str(age))

enter your name and age siddharth 2
your name is siddharth
your age is 2

In [73]:
name,age=input("enter your name and age ").split(",")
print("your name is "+name)
print("your age is "+str(age))

enter your name and age siddharth,22
your name is siddharth
your age is 22

In [82]:
# string formatting ways
name="sidd"
age=25
print("hello "+name+" your age is "+str(age))
print("hello {} your age is {}".format(name,age)) #python 3 onwards
print(f"hello {name} your age is {age}") #python 3.6 onwards
print(f"hello {name} your age is {age+2}")

hello sidd your age is 25
hello sidd your age is 25
hello sidd your age is 25
hello sidd your age is 27

In [90]:
# average of input entered by user
a,b,c=input("enter 3 comma separated inputs ").split(",")
average=(float(a)+float(b)+float(c))/3
ans=print(f" average of {a},{b},{c} is {average}")

enter 3 comma separated inputs 1,2,3
 average of 1,2,3 is 2.0

In [91]:
# string indexing
lang="python"
print(lang[0])

p

In [92]:
print(lang[4])

o

In [93]:
print(lang[-1])

n

In [105]:
#slicing to print py
# start agr:stop arg: step arg
language="python language"
print(language[0::2])
print(language[0:5:2])

pto agae
pto

In [100]:
print(language[2:])

thon

In [106]:
# string reversal using slicing
print(language[::-1])

egaugnal nohtyp

In [111]:
name=input("enter your name ")
reve=name[::-1]
print(f"reverse of a no is {reve}")

enter your name sid
reverse of a no is dis

# String methods

In [112]:
yo="Siddharth ARORA"
print(len(yo))

15

In [113]:
# trying to use lower as a function
print(lower(yo))

NameError: name 'lower' is not defined

In [114]:
# using lower as a method
print(yo.lower())

siddharth arora

In [115]:
yo

'Siddharth ARORA'

In [116]:
# print the string in camel case
print(yo.title())

Siddharth Arora

In [119]:
# counting the no of characters in a string
print(yo.count("h"))

2

In [129]:
#Case sensitive
user,char=input("Enter your name and a character as a character separated input").split(",")
print(f"length of your name is {len(user)} and the no of times '{char}'exists is {user.count(char)}")

Enter your name and a character as a character separated inputsid,S
length of your name is 3 and the no of times 'S'exists is 0

In [130]:
# case insensitive 
user,char=input("Enter your name and a character as a character separated input").split(",")
print(f"length of your name is {len(user)} and the no of times '{char}'exists is {user.lower().count(char.lower())}")

Enter your name and a character as a character separated inputsid,S
length of your name is 3 and the no of times 'S'exists is 1

In [141]:
# strip method
uname="    Sidh    "
uname2="   Sid  dharth   "
dots="......."
print(dots+uname+dots) # printing uname with dots without removing empty spaces AS IT IS 
print(dots+uname.lstrip()+dots) # removing spaces from uname from left LEFT SPACE REMOVED
print(dots+uname.rstrip()+dots) # removing spaces from uname from right RIGHT SPACE REMOVED
print(dots+uname2.replace(" ","")+dots) #removing space by replacing space with no space ALL SPACES REMOVED

.......    Sidh    .......
.......Sidh    .......
.......    Sidh.......
.......Siddharth.......

In [142]:
# add any char to string keeping the string in center
name=input("Enter your name: ")
print(name.center(len(name)+8,"*"))

Enter your name: sid
****sid****

In [143]:
# strings are immutable
string="string"
string[1]="T"

TypeError: 'str' object does not support item assignment

In [146]:
# but characters can be replaced
string="string"
print(string.replace('t',"TT")) # replacement of string is possible only to print it as the value at variable is changed but in python string are immutable but in ruby is muttable
print(string) # gives same output even after replacing because strings are immutable

sTTring
string

# Conditionals

In [150]:
# if
age=int(input("enter your age"))
if age>=14:
    print("you are more than 14")

enter your age33
you are more than 14

In [151]:
# pass 
x=18
if x>18:
    pass

In [156]:
#if-else
age=int(input("enter your name"))
if age>14:
    print(f'"wow" you are a big boy')
else:
    print("not wow")

enter your name18
"wow" you are a big boy

In [35]:
import random
winningno=random.randint(1,100)
inp=int(input("enter a no between 0 and 100 "))
if inp==winningno:
    print("Bingo")
elif inp>winningno:
    print("too high")
else:
    print("too low")

enter a no between 0 and 10034
too low

In [161]:
uname,age=input("enter your name and age as comma separated ").split(",")
uname.replace(" ","")
if int(age)>=10 and (uname[0]=="a" or uname[0]=="A"):
    print("Yes! you can watch Coco")
else:
    print("Nope")

enter your name and age as comma separated mani,10
Nope

In [167]:
# if elif else
age=int(input("enter your age"))
if age==0 or age<0:
    print("you can't watch")
elif 0<age<4:
    print("ticket price: Free")
elif 4<age<11:
    print("tp: 100")
elif 11<=age<61:
    print("tp: 200")
else:
    print("tp: 300")

enter your age-90
you can't watch

In [170]:
# check empty or not
name=input("enter your name")
if name:
    print(f"your name is {name}")
else:
    print("you didn\'t enter anything")

enter your namesid
your name is sid

In [174]:
#while
n=3
while n<10:
    print(f"hello {n}")
    n+=1

hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9

In [181]:
# sum of 1 to 10 using while
n=1
total=0
while n<=20:
    total+=n
    n+=1
print("sum of no is "+str(total))

sum of no is 210

In [2]:
num=int(input("enter a a no till which you want to print the sum of natural nos"))
total=0
n=1
while n<=num:
    total+=n
    n+=1
print(f"the sum of natural no till {num} is {total}")

enter a a no till which you want to print the sum of natural nos2
the sum of natural no till 2 is 3

In [14]:
# sum of digits of a no
numb=input("enter a no ")
total=0
i=0
while i<len(numb):
    total+=int(numb[i])
    i+=1
print(f"sum of digits in {numb} is {total}")

enter a no 123
sum of digits in 123 is 6

In [22]:
# count of each char in string but not repeating chars
username=input("enter your name ")
i=0
temp_var=""
while i<len(username):
    if username[i] not in temp_var:
        temp_var+=username[i]
        print(f"{username[i]} {username.count(username[i])}")
    i+=1

enter your namesiddd
s 1
i 1
d 3

In [25]:
# for loop
for i in range(11):
    print(f"hello {i}")

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [26]:
# sum of no using for
total=0
for i in range(11):
    total+=i
print(f"sum of no till 10 is {total}")

sum of no till 10 is 55

In [28]:
t=0
n=int(input("enter a no till which you want to print the sum of natural nos "))
for i in range(1,n):
    t+=i
print(f"sum of natural no till {n} is {t}")

enter a no till which you want to print the sum of natural nos 43
sum of natural no till 43 is 903

In [32]:
# print sum of digits of a no using for
num=input("enter a no ")
tot=0
for i in range(0,len(num)):
    tot+=int(num[i])
print(tot)

enter a no 1111
4

In [34]:
# list the no of char with their occurences in input given by user
name=input("enter your name")
tmp=""
for i in range(0,len(name)):
    if name[i] not in tmp:
        print(f"{name[i]} : {name.count(name[i])}")
        tmp+=name[i]

enter your namesidd
s : 1
i : 1
d : 2

In [6]:
import random
win=random.randint(0,100)
count=1
a=int(input("enter a no between 0 and 100: "))
over=False
while not over:
    if a==win:
        print(f"You Won! and you guessed right in {count} times")
        over=True
    else:
        if a>win:
            print("Too high")
        else:
            print("too low")
        count+=1
        a=int(input(f"try again {win} "))

enter a no between 0 and 100: 22
too low
try again 78 78
You Won! and you guessed right in 2 times

In [8]:
# step args
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [10]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [12]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [14]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [15]:
name="siddharth"
for i in range(len(name)):
    print(name[i])

s
i
d
d
h
a
r
t
h

In [17]:
# iterating over string directly only possible in python
name="siddharth"
for i in name:
    print(i)

s
i
d
d
h
a
r
t
h

In [19]:
#total of a no
a=input("enter a no ")
total=0
for i in a:
    total+=int(i)
print(total)

enter a no123
6

# Functions

In [21]:
#len function
name="siddharth"
len(name)

9

In [23]:
def add2(a,b):
    return a+b
total=add2(4,3)
print(total)

7

In [28]:
# concatenating two strings using Function
a,b=input("enter 2 numbers with comma separation ").split(",")
def add2(x,y):
    return x+y
total=add2(a,b)
print(total)

enter 2 numbers with comma separation 1,2
12

In [30]:
# adding two integers using Function
a,b=input("enter 2 numbers with comma separation ").split(",")
def add2(x,y):
    return x+y
total=add2(int(a),int(b))
print(total)

enter 2 numbers with comma separation 1,2
3

In [31]:
def add3(a,b,c):
    return a+b+c
a=add3(7,8,9)
print(a)

24

In [34]:
# function that takes name and returns the last char
def nam(a):
    return a[-1]
check=nam("sidd")
print(check)

d

In [35]:
print(nam("kaalu"))

u

In [36]:
def oddeven(num):
    if num%2==0:
        return "even"
    else:
        return "odd"
print(oddeven(9))

odd

In [37]:
def oddeven(num):
    if num%2==0:
        return "even"
    return "odd"
print(oddeven(8))

even

In [38]:
def iseven(num):
    if num%2==0:
        return True
    else:
        return False
print(iseven(2))

True

In [40]:
def iseven(num):
    return num%2==0:
print(iseven(8))

SyntaxError: invalid syntax (<ipython-input-40-4a592ea19d92>, line 2)

In [41]:
def song():
    return "happy birthday song"
print(song())

happy birthday song

In [43]:
def big(a,b):
    if a>b:
        return a
    elif a==b:
        return "equal"
    return b
print(big(2,2))

equal

In [46]:
num1,num2=input("enter 2 no which are comma separated").split(",")
big(int(num1),int(num2))

enter 2 no which are comma separated1,1

'equal'

In [54]:
def greatest(a,b,c):
    if a==b==c:
        return "equal"
    elif a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    return c
n1,n2,n3=input("enter 3 nos ").split(",")
greatest(int(n1),int(n2),int(n3))

enter 3 nos 1,2,3

3

In [58]:
# palindrome
def ispal(a):
    if a==a[::-1]:
        return True
    return False
print(ispal("nm"))

False

In [66]:
# fibonacci series
def fibo(a):
    n1=0
    n2=1
    if a==1:
        print(n1)
    elif a==2:
        print(n1,n2)
    else:
        print(n1,n2,end=" ")
        for i in range(a-2):
            c=n1+n2
            n1=n2
            n2=c
            print(n2, end=" ")
print(fibo(10))

0 1 1 2 3 5 8 13 21 34 None

In [67]:
# default parameters can only be at the last of function definition
def userinfo(fn,ln,age=None):
    print(f"your first name is {fn}")
    print(f"your last name is {ln}")
    print(f"your age is {age}")
userinfo("sid","arora")

your first name is sid
your last name is arora
your age is None

In [68]:
# scope of variables
x=3 # global
def func():
    x=9 # local
    return x
print(x) # prints global var
print(func()) # prints local var as function is called

3
9

In [71]:
# calling global var in function
x=2
def func1():
    global x
    x=3
    return x
print(x) # prints global var's initial value
print(func1()) # changes value to 3
print(x) # prints changed value

2
3
3

# List

In [73]:
num=[1,2,3,3]
print(num)

[1, 2, 3, 3]

In [74]:
num

[1, 2, 3, 3]

In [75]:
mix=[1,2,None,"sid"]

In [76]:
mix

[1, 2, None, 'sid']

In [77]:
mix[1]

2

In [78]:
mix[0]

1

In [82]:
# slicing of list
mix[0:2:1]

[1, 2]

In [83]:
# altering the list
mix[1]="two"

In [84]:
mix

[1, 'two', None, 'sid']

In [85]:
mix[1:]="two"

In [86]:
mix

[1, 't', 'w', 'o']

mix[1:]=['1','2','3']

In [88]:
mix[1:]=[1,2,3]

In [89]:
mix

[1, 1, 2, 3]

In [90]:
fruits=['grapes','mango']

In [91]:
fruits

['grapes', 'mango']

In [92]:
#adding data to list
fruits.append("hello")

In [93]:
fruits

['grapes', 'mango', 'hello']

In [94]:
# inserting on new location
fruits.insert(1,"boo")

In [95]:
fruits

['grapes', 'boo', 'mango', 'hello']

In [96]:
fruits1=["hello","namaste"]

In [97]:
# string concatenation
fruits=fruits+fruits1

In [98]:
fruits

['grapes', 'boo', 'mango', 'hello', 'hello', 'namaste']

In [99]:
# add elements of 2nd list to 1st whereas append add list to list
fruits1.extend(fruits)

In [100]:
fruits1

['hello', 'namaste', 'grapes', 'boo', 'mango', 'hello', 'hello', 'namaste']

In [101]:
# delete data from list
# pop removes last element from the list
fruits.pop()

'namaste'

In [102]:
fruits

['grapes', 'boo', 'mango', 'hello', 'hello']

In [103]:
#to remove element on 1st index here boo
fruits.pop(1)

'boo'

In [104]:
fruits

['grapes', 'mango', 'hello', 'hello']

In [105]:
# using del
del fruits[2]

In [106]:
fruits

['grapes', 'mango', 'hello']

In [107]:
# using remove method
fruits.remove('mango')

In [108]:
fruits

['grapes', 'hello']

In [114]:
fruits.append("banana")

In [115]:
fruits

['grapes', 'hello', 'banana']

In [117]:
fruits.append('apple')

In [118]:
fruits

['grapes', 'hello', 'banana', 'apple']

In [119]:
fruits.remove('apple')

In [120]:
fruits

['grapes', 'hello', 'banana']

In [121]:
fruits.insert("heelo","hello")

TypeError: 'str' object cannot be interpreted as an integer

In [124]:
if "apple" in fruits:
    print("truu")
else:
    print("fals")

fals

In [128]:
fruits2=['banana','kiwi','blueberry','apple','mango','apples','banana']

In [130]:
fruits2.count('banana')

2

In [133]:
# sort function
fruits2.sort()

In [134]:
fruits2

['apple', 'apples', 'banana', 'banana', 'blueberry', 'kiwi', 'mango']

In [135]:
# sorted function prints the list in sorted order
num=[1,89,37,907,7,77,0,22]

In [136]:
sorted(num)

[0, 1, 7, 22, 37, 77, 89, 907]

In [137]:
num.sort()

In [138]:
num

[0, 1, 7, 22, 37, 77, 89, 907]

In [139]:
num

[0, 1, 7, 22, 37, 77, 89, 907]

In [140]:
num1=num.copy()

In [141]:
num1

[0, 1, 7, 22, 37, 77, 89, 907]

In [142]:
# equals operator checks whether the values in the list are same and here they are same so the ans is true
num==num1

True

In [143]:
# is keyword is used for checking the no at same place in the memory the ans is false as num and num1 as they are diff objects and both occupy diff spaces in memory so the ans is false
num is num1

False

In [144]:
userinfo="Siddharth 256".split()

In [145]:
# split()
userinfo

['Siddharth', '256']

In [3]:
# join()
user=['sid','2']
print(','.join(user))

sid,2

In [147]:
# list V/S array
#list can store any kind of data but array can be used by importing array module
# numpy arrays are more commonly used as compared to arrays as numpy arrays are binded to C

In [1]:
#list V/S string
# list are mutable but strings are not

In [4]:
for i in user:
    print(i)

sid
2

In [5]:
# list in list
mat=[[1,2,3],[7,8,8,9]]
len(mat)

2

In [6]:
mat[0]

[1, 2, 3]

In [7]:
mat

[[1, 2, 3], [7, 8, 8, 9]]

In [8]:
for i in mat:
    print(i)

[1, 2, 3]
[7, 8, 8, 9]

In [9]:
for sublist in mat:
    for i in sublist:
        print(i)

1
2
3
7
8
8
9

In [16]:
print(mat[1][0]) # to print 7

7

In [17]:
type(mat)

list

In [18]:
print(type(mat))

<class 'list'>

In [19]:
numbers=list(range(1,20))

In [20]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [24]:
popped=numbers.pop()

In [26]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [27]:
popped

18

In [28]:
print(numbers.index(7)) # gives the first found index of the no in the list

6

In [30]:
# print negative of a list 
def neglist(l):
    negative=[]
    for i in l:
        negative.append(-i)
    return negative


neglist(numbers)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11, -12, -13, -14, -15, -16, -17]

In [31]:
ok=list(range(3,18,2))

In [32]:
ok

[3, 5, 7, 9, 11, 13, 15, 17]

In [33]:
def sq(l):
    square=[]
    for i in l:
        square.append(i**2)
    return square

In [34]:
sq(ok)

[9, 25, 49, 81, 121, 169, 225, 289]

In [42]:
def rev(li):
    rev=[]
    for i in range(len(li)):
        temp=li.pop()
        rev.append(temp)
    return rev
rev(ok)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [40]:
ok=list(range(1,10))

In [43]:
# using the pop and append function the list is reversed but the original items are lost so it is advised to make a copy 
ok

[]

In [44]:
testing=["abc","tuv","gef"]

In [46]:
def revi(lsi):
    re=[]
    for i in lsi:
        re.append(i[::-1])
    return re
revi(testing)

['cba', 'vut', 'feg']

In [47]:
testing

['abc', 'tuv', 'gef']

In [48]:
boom=list(range(1,10))

In [49]:
boom

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
def cha(l):
    odd=[]
    even=[]
    for i in l:
        if i%2==0:
            even.append(i)
        else:
            odd.append(i)
    return odd,even
cha(boom)

([1, 3, 5, 7, 9], [2, 4, 6, 8])

In [52]:
boom1=[2,3,4,7]

In [53]:
# finding common elements between 2 lists
def match(a,b):
    out=[]
    for i in a:
        if i in b:
            out.append(i)
    return out
match(boom,boom1)

[2, 3, 4, 7]

In [54]:
min(boom)

1

In [55]:
max(boom)

9

In [56]:
lis=[123,1,23,[123,33,4],[11,22]]

In [67]:
# check the no of lists in a list
def checkk(l):
    count=0
    for i in l:
        if type(i)==list:
            count+=1
    return count

In [68]:
checkk(lis)

2

# tuple

In [69]:
# tuples are faster to save data when we know it will not change
# can not append
# can not insert
# can not pop
# can not remove
# methods that can be performed are ---> count, index, len(), slicing

In [70]:
mix=(1,2,3,4,9.0)

In [71]:
type(mix)

tuple

In [72]:
# tuple with single element
tr=(1) # expected to be tuple because of the parenthesis
type(tr) # but is actually int

int

In [73]:
tr1=(1,) # adding a comma to it makes it a tuple otherwise it would have been treated as the data type of the element inside it
type(tr1)

tuple

In [74]:
woo=("woo")
type(woo)

str

In [75]:
woo1=("woo",)

In [76]:
type(woo1)

tuple

In [77]:
# tuple without parenthesis
see="banana","apple"

In [78]:
type(see)

tuple

In [79]:
#tuple unpacking
len(see)

2

In [80]:
# assinging tuple to a var
fr1=(see)

In [81]:
fr1

('banana', 'apple')

In [82]:
# unpacking each element of tuple into a var
fr1,fr2=(see)

In [83]:
fr2

'apple'

In [84]:
fr1

'banana'

In [85]:
# list in tuple, we can play with that list element inside the tuple
fav=("yo",["yoyo","frisbi"])

In [86]:
fav(1)

TypeError: 'tuple' object is not callable

In [88]:
fav[1]

['yoyo', 'frisbi']

In [89]:
fav[1].pop()

'frisbi'

In [90]:
fav

('yo', ['yoyo'])

In [91]:
fav[1].append("bro")

In [92]:
fav

('yo', ['yoyo', 'bro'])

In [93]:
min(mix)

1

In [94]:
max(mix)

9.0

In [95]:
sum(mix)

19.0

In [96]:
mix

(1, 2, 3, 4, 9.0)

In [97]:
# function returning 2 values is returned in a tuple
def func(a,b):
    add=int(a)+int(b)
    mul=int(a)*int(b)
    return add,mul
func(9,8)

(17, 72)

In [98]:
type(func)

function

In [99]:
su,susu=func(8,7)

In [100]:
su

15

In [101]:
susu

56

In [102]:
nums=tuple(range(1,10))
nums1=list(range(1,10))
nums2=str(range(1,10))

In [103]:
nums

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [104]:
nums1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
# everything that is in the functions gets converted to string as it is here "range(1,10)"
nums2

'range(1, 10)'

# Dictionary

In [106]:
# unordered collection of key value pairs is called dictionary
us={"name":"sid","No":"1234"}

In [107]:
us

{'name': 'sid', 'No': '1234'}

In [108]:
us.keys()

dict_keys(['name', 'No'])

In [109]:
us.values()

dict_values(['sid', '1234'])

In [111]:
type(us)

dict

In [114]:
#another way to create dictionary using dict
us1=dict(name="aman",No=1234)

In [115]:
type(us1)

dict

In [116]:
us1.keys()

dict_keys(['name', 'No'])

In [117]:
# there is no indexing in dict so keys are used 
us['No']

'1234'

In [118]:
us1["name"]

'aman'

In [119]:
us["no"]=909080

In [120]:
us

{'name': 'sid', 'No': '1234', 'no': 909080}

In [121]:
us["no"]=8090

In [122]:
us

{'name': 'sid', 'No': '1234', 'no': 8090}

In [123]:
us2={}

In [124]:
us2['name']="ramu"

In [125]:
us2

{'name': 'ramu'}

In [126]:
us2["age"]=90

In [127]:
us2

{'name': 'ramu', 'age': 90}

In [129]:
# check if a particular key exists in dict
if "age" in us2:
    print("OK")
else:
    print("Nope")

OK

In [130]:
# check if a particular value exists in dict
if "ramu" in us2.values():
    print("present")
else:
    print("Uh! Oh!")

present

In [131]:
for i in us2.values():
    print(i)

ramu
90

In [132]:
for i in us2:
    print(i)

name
age

In [135]:
for i in us2.keys():
    print(i)

name
age

In [136]:
#printing values using keys
for i in us1:
    print(us1[i])

aman
1234

In [138]:
# print items as tuples
for i in us1.items():
    print(i)
    print(type(i))

('name', 'aman')
<class 'tuple'>
('No', 1234)
<class 'tuple'>

In [139]:
# pop methods in tuples need at least one arg
us1.pop("name")

'aman'

In [140]:
us1

{'No': 1234}

In [141]:
# last item is removed from the tuple
pi=us.popitem()

In [142]:
pi

('no', 8090)

In [143]:
us

{'name': 'sid', 'No': '1234'}

In [144]:
# update function
one={"name":"sid","add":"fbd","phno":1234}
two={"state":"haryana","hobby":"reading"}

In [145]:
one

{'name': 'sid', 'add': 'fbd', 'phno': 1234}

In [146]:
# adding 2nd dict to first dict
one.update(two)

In [147]:
one

{'name': 'sid',
 'add': 'fbd',
 'phno': 1234,
 'state': 'haryana',
 'hobby': 'reading'}

In [148]:
# but if 2nd dict has same key as already present in 1st then it is updated
three={"name":"siddharth","chika":"chikaboom"}

In [149]:
# name is changed from sid to siddharth
one.update(three)

In [150]:
one

{'name': 'siddharth',
 'add': 'fbd',
 'phno': 1234,
 'state': 'haryana',
 'hobby': 'reading',
 'chika': 'chikaboom'}

In [151]:
# fromkeys method is used to assign same values to multiple keys
# using list
d=dict.fromkeys(["name","age","height"],"unknown")

In [152]:
d

{'name': 'unknown', 'age': 'unknown', 'height': 'unknown'}

In [154]:
# using tuple
e=dict.fromkeys(("names","ages","heights"),"unknowww")

In [155]:
e

{'names': 'unknowww', 'ages': 'unknowww', 'heights': 'unknowww'}

In [156]:
# strings should not be used with fromkeys method
f=dict.fromkeys("abc",'unknown')

In [157]:
f

{'a': 'unknown', 'b': 'unknown', 'c': 'unknown'}

In [158]:
# dict fromkeys method using range
g=dict.fromkeys(range(1,3),"bro")

In [159]:
g/

SyntaxError: invalid syntax (<ipython-input-159-672b0b408a6f>, line 1)

In [160]:
g

{1: 'bro', 2: 'bro'}

In [161]:
# storing values as a list
h=dict.fromkeys(["name","age"],["nameeg","ageeg"])

In [162]:
h

{'name': ['nameeg', 'ageeg'], 'age': ['nameeg', 'ageeg']}

In [163]:
# get method to access element and see if it works even when it is not present in the dict
g

{1: 'bro', 2: 'bro'}

In [164]:
g[1]

'bro'

In [165]:
g.get(1)

'bro'

In [167]:
# in the dict g there exists no element with key 4 so instead of throwing an error it returns None as output
print(g.get(4))

None

In [168]:
# using if-else
if 4 not in g:
    print("Not present")
else:
    print("Yo")

Not present

In [169]:
# clear method is used to delete all the entries from the dict
h

{'name': ['nameeg', 'ageeg'], 'age': ['nameeg', 'ageeg']}

In [170]:
h.clear()

In [171]:
h

{}

In [172]:
# copy of dict
d1=d.copy()

In [173]:
d1

{'name': 'unknown', 'age': 'unknown', 'height': 'unknown'}

In [174]:
# assinging d to d1 will just have one more var with same elements and any change will bring change to the original so copy method  is usefu;
d

{'name': 'unknown', 'age': 'unknown', 'height': 'unknown'}

In [175]:
d1

{'name': 'unknown', 'age': 'unknown', 'height': 'unknown'}

In [176]:
d1.popitem()

('height', 'unknown')

In [177]:
d1

{'name': 'unknown', 'age': 'unknown'}

In [178]:
d

{'name': 'unknown', 'age': 'unknown', 'height': 'unknown'}

In [179]:
# get method
us.get("name")

'sid'

In [183]:
print(us.get("fac",'Not found'))

Not found

In [184]:
#dict can not have 2 keys with same name

In [1]:
# dictionary with cubes
def cube(n):
    cubes={}
    for i in range(1,n+1):
        cubes[i]=i**3
    return cubes

cube(int(input(" enter a no ")))

 enter a no 8

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512}

In [2]:
# word counter
def wordcount(s):
    count={}
    for char in s:
        count[char]=s.count(char)
    return count
wordcount("sidd")

{'s': 1, 'i': 1, 'd': 2}

In [5]:
user={}
name=input("What is your name?\n")
age=input("what is your age\n?")
fav_movies=input("what are your fav movies, write it separated by commas ").split(",")
fav_songs=input("what are your fav songs, write it separated by commas ").split(",")
user["name"]=name
user["age"]=age
user["favmovies"]=fav_movies
user["favsongs"]=fav_songs

What is your name?
si
what is your age
?sis
what are your fav movies, write it separated by commas sis
what are your fav songs, write it separated by commas sjs

{'name': 'si', 'age': 'sis', 'favmovies': ['sis'], 'favsongs': ['sjs']}

In [6]:
user?

In [7]:
user

{'name': 'si', 'age': 'sis', 'favmovies': ['sis'], 'favsongs': ['sjs']}

In [8]:
for key,value in user.items():
    print(f'{key}:{value}')

name:si
age:sis
favmovies:['sis']
favsongs:['sjs']

# Sets

In [9]:
# unordered collection of unique items 
s={1,2,3,409}

In [10]:
s

{1, 2, 3, 409}

In [12]:
s1={1,2,4,4,3,77,7,7,7,7,7,7}

In [13]:
s1

{1, 2, 3, 4, 7, 77}

In [14]:
s11=[1,2,3,4,4,4,4,7,7,8,8,88,90,90]

In [15]:
s11

[1, 2, 3, 4, 4, 4, 4, 7, 7, 8, 8, 88, 90, 90]

In [16]:
# making a set using set function
s12=set(s11)

In [17]:
s12

{1, 2, 3, 4, 7, 8, 88, 90}

In [18]:
# converting set to a list using list function
s123=list(s12)

In [19]:
s123

[1, 2, 3, 4, 7, 8, 88, 90]

In [22]:
# methods  in a set
# add
s12.add(2)
s12.add(87)

In [23]:
s12
# 87 gets added but 2 does not get added to it

{1, 2, 3, 4, 7, 8, 87, 88, 90}

In [24]:
# remove
s.remove(3)

In [25]:
s

{1, 2, 409}

In [26]:
#as there is no 5 in the original set so it gives an error when remove keyword is used
s.remove(5)

KeyError: 5

In [28]:
# to avoid the above issue we can use discard instead of remove, if it exists it will be removed but if it not present then it will not throw any error
s.discard(5)

In [29]:
s

{1, 2, 409}

In [30]:
s.discard(409)

In [31]:
s

{1, 2}

In [32]:
s.clear()

In [33]:
s

set()

In [34]:
s=s1.copy()

In [35]:
s

{1, 2, 3, 4, 7, 77}

In [36]:
# list and dict can not be a part of set

In [37]:
if 1 in s:
    print("yo")
else:
    print("no")

yo

In [38]:
# Union of sets
s={12,13,1,4,2,4}
s1={1,2,3,4,4,9,0}
unionset=s|s1
intersection=s&s1

In [39]:
unionset

{0, 1, 2, 3, 4, 9, 12, 13}

In [40]:
intersection

{1, 2, 4}

# List Comprehension

In [43]:
# list with squares from 1 to 10 the normal way
squares=[]
for i in range(1,11):
    squares.append(i**2)

In [44]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [45]:
# using list comprehension
squares2=[i**2 for i in range(1,11)]

In [46]:
squares2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [47]:
neg=[]
for i in range(1,11):
    neg.append(-i)
neg

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [48]:
negg=[-i for i in range(1,11)]

In [49]:
negg

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [50]:
names=["siddharth","aman","yogesh"]

In [51]:
newlist=[name[0] for name in names]

In [52]:
newlist

['s', 'a', 'y']

In [55]:
words=["random","tandem","siddharth"]
rev=[i[::-1] for i in words]
rev

['modnar', 'mednat', 'htrahddis']

In [54]:
def rev(l):
    return [name[::-1] for name in l]
rev(words)

['modnar', 'mednat', 'htrahddis']

In [56]:
def revs(l):
    new=[]
    for i in l:
        new.append(i[::-1])
    return new
revs(words)

['modnar', 'mednat', 'htrahddis']

In [57]:
numbers=list(range(1,11))

In [58]:
nums=[]
for i in numbers:
    if i%2==0:
        nums.append(i)
nums

[2, 4, 6, 8, 10]

In [59]:
even=[i for i in numbers if i%2==0]
even

[2, 4, 6, 8, 10]

In [61]:
type(2)

int

In [72]:
ok=[1,2,3.0,9.90, True, False, "bale","fail"]

In [77]:
type(ok)

list

In [73]:
onlynum=[str(i) for i in ok if (type(i)== "int" or type(i)=="float")]

In [74]:
onlynum

[]

In [87]:
for i in ok:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'str'>

In [89]:
for i in ok:
    if type(i)=='int':
        print(i)
    else:
        print("boo")

boo
boo
boo
boo
boo
boo
boo
boo

In [90]:
def num(l):
    return [str(i) for i in l if (type(i)==int or type(i)==float)]

In [91]:
num(ok)

['1', '2', '3.0', '9.9']

In [92]:
nums=list(range(1,11))

In [93]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [94]:
newlist=[]
for i in nums:
    if i%2==0:
        newlist.append(i**2)
    else:
        newlist.append(-i)
print(newlist)

[-1, 4, -3, 16, -5, 36, -7, 64, -9, 100]

In [95]:
newlist2=[i**2 if i%2==0 else -i for i in nums]

In [96]:
newlist2

[-1, 4, -3, 16, -5, 36, -7, 64, -9, 100]

In [97]:
ex=[[1,2,3],[1,2,3],[1,2,3]]

In [98]:
nest=[[i for i in range(1,4)] for j in range(3)]

In [99]:
nest

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [100]:
sq=[i**2 for i in range(1,10)]

In [101]:
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [102]:
even=[i for i in range(1,10) if i%2==0]

In [103]:
even

[2, 4, 6, 8]

In [106]:
mix=[i*2 if (i%2==0) else -i for i in sq]

In [107]:
mix

[-1, 8, -9, 32, -25, 72, -49, 128, -81]

# Dictionary comprehension

In [108]:
squ={1:1,2:2,3:9}

In [111]:
squ1={f"square of {n}" :n**2 for n in range(1,10)}

In [112]:
squ1

{'square of 1': 1,
 'square of 2': 4,
 'square of 3': 9,
 'square of 4': 16,
 'square of 5': 25,
 'square of 6': 36,
 'square of 7': 49,
 'square of 8': 64,
 'square of 9': 81}

In [114]:
strin="siddarth"
wordcount={char:strin.count(char) for char in strin}

In [115]:
wordcount

{'s': 1, 'i': 1, 'd': 2, 'a': 1, 'r': 1, 't': 1, 'h': 1}

In [116]:
#oddeven
oddeven={i:("even" if i%2==0 else "odd") for i in range(1,11)}

In [117]:
oddeven

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even'}

# set comprehension

In [118]:
s={k**2 for k in range(1,11)}

In [119]:
s

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [120]:
type(s)

set

In [124]:
names=["siddharth","arora","malhotra"]
first={name[0] for name in names}

In [125]:
first

{'a', 'm', 's'}

In [123]:
type(first)

set

# *args

In [126]:
def total(a,b):
    return a+b

In [127]:
# ok case
total(3,4)

7

In [128]:
# not ok case as more no of arguments are passed than expected
total(1,2,34)

TypeError: total() takes 2 positional arguments but 3 were given

In [130]:
def alltotal(*args):
    total=0
    for num in args:
        total+=num
    return total
alltotal(1,2,3,4)

10

In [131]:
def mulnum(*args):
    mul=1
    for i in args:
        mul*=i
    return mul
mulnum(7,8,9)

504

In [133]:
def mulnum1(num,*args):
    mul=1
    for i in args:
        mul*=i
    return mul
mulnum1(2,4,8)

32

In [134]:
# only one arg because one arg is mandatory but not a part of calculation
mulnum1(3)

1

In [137]:
def fun(num1,*args):
    if args:
        return [i**num1 for i in args]
    else:
        return "hey you didn\'t pass any args"
#    li=[i**num1 for i in args if num1: else print("hey you didn\'t pass any agrs ") ]

In [138]:
fun(1)

"hey you didn't pass any args"

In [139]:
fun(2,1,2,3,3)

[1, 4, 9, 9]

In [140]:
listo=[1,2,34,4]
fun(2,*listo)

[1, 4, 1156, 16]

In [143]:
fun(3,*listo)

[1, 8, 39304, 64]

# *kwargs # keyword arguments

In [144]:
def func(**kwargs):
    print(kwargs)

In [149]:
func(firstname="sid",lastname="arora")

{'firstname': 'sid', 'lastname': 'arora'}

In [150]:
type(func)

function

In [152]:
type(**kwargs)

NameError: name 'kwargs' is not defined

In [153]:
# hierarchy of argument passing is to be maintained 
# PADK is the hierarchy that is followed ---> Parameter,*args,Default parameters,**kwarsg

In [154]:
def func(l,**kwargs):
    if kwargs.get('reverse_str')==True:
        return [name[::-1].title() for name in l]
    else:
        return [name.title() for name in l]

In [155]:
names=["sid","aman"]
func(names)

['Sid', 'Aman']

In [156]:
func(names,reverse_str=True)

['Dis', 'Nama']

# Lambda expression

In [159]:
def add(a,b):
    tot=a+b
    return tot

In [160]:
add(2,3)

5

In [162]:
addi=lambda a,b:a+b

In [163]:
addi(23,3)

26

In [168]:
easy= lambda a,b:a>b

In [169]:
easy(1,2)

False

# Enumerate

In [170]:
names=["abc","abcde","siddharth"]

In [172]:
pos=0
for name in names:
    print(f"{pos} ----> {name}")
    pos+=1

0 ----> abc
1 ----> abcde
2 ----> siddharth

In [173]:
for pos,name in enumerate(names):
    print(f"{pos}---->{name}")

0---->abc
1---->abcde
2---->siddharth

In [176]:
def pos(l,target):
    for pos,name in enumerate(l):
        if name==target:
            return pos
    return -1

In [178]:
pos(names,"siddharthaaaaa")

-1

In [179]:
def sq(a):
    return a**2

In [180]:
no=list(range(1,10))

In [181]:
no

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [182]:
#squares using map function
sqr=list(map(sq,no))

In [183]:
sqr

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [184]:
# squares using lambda
sql=list(map(lambda a:a**2,no))

In [186]:
sql

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [187]:
#squares using list comprehension
sqnew=[i**2 for i in no]

In [188]:
sqnew

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [189]:
# square using for loop
newlist=[]
for i in no:
    newlist.append(sq(i))

In [191]:
newlist

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [192]:
names=["abc","abcd","abcde"]

In [195]:
a=map(len,names)

In [196]:
list(a)

[3, 4, 5]

In [197]:
# filter 
def iseven(a):
    return a%2==0

In [198]:
evens=list(filter(iseven,no))

In [199]:
evens

[2, 4, 6, 8]

In [200]:
even=list(filter(lambda a:a%2==0, no))

In [201]:
even

[2, 4, 6, 8]

In [202]:
# list comprehension
ev=[i for i in no if i%2==0]

In [203]:
ev

[2, 4, 6, 8]

In [204]:
#zip function
ids=["s1","s2"]
name=["Sid","Aman","Rohan"]
together=zip(ids,name)

In [205]:
together

In [206]:
# thirsd element from name is left as there is no corresponding element in 1st list to zip it to
list(together)

[('s1', 'Sid'), ('s2', 'Aman')]

In [207]:
eg=[("a",1),("b",2)]

In [208]:
dict(eg)

{'a': 1, 'b': 2}

In [212]:
print(eg)

[('a', 1), ('b', 2)]

In [213]:
l1=[1,3,5,7]
l2=[2,4,6,8]
newlist= for pair in zip(l1,l2):
    max

SyntaxError: invalid syntax (<ipython-input-213-e23e3ff3a117>, line 3)

In [214]:
def av(l1,l2):
    avge=[]
    for pair in zip(l1,l2):
        avge.append(sum(pair)/len(pair))
    return avge
av([1,2,3],[3,4,7])

[2.0, 3.0, 5.0]

In [219]:
def avai(*args):
    avge=[]
    for pair in zip(*args):
        avge.append(sum(pair)/len(pair))
    return avge
avai([1,2,3,4],[1,3,8,9],[9,8,7,0])

[3.6666666666666665, 4.333333333333333, 6.0, 4.333333333333333]

In [1]:
# skipping some functionsfor later

## Decorators

In [4]:
# map
l=list(range(1,7))

In [5]:
l

[1, 2, 3, 4, 5, 6]

In [6]:
def sq(s):
    return s**2

In [7]:
list(map(sq,l))

[1, 4, 9, 16, 25, 36]

In [8]:
# FIRST CLASS FUNCTION/ CLOSURES
def to_power(x):
    def calc(n):
        return n**x
    return calc

In [9]:
cube=to_power(3)
cube(2)

8

In [10]:
sq=to_power(2)
sq(7)

49

In [ ]:
# decorator enhance functionality of other func