In [1]:
some_num =[2,4,21,90]

In [ ]:
# https://www.youtube.com/watch?v=tNNwixmpkLY&list=PLH6mU1kedUy84TsNa1654qkHjIeZ_wllA&index=2

In [2]:
doule= map(lambda x:x+x, some_num)

In [4]:
doule

In [5]:
list(doule)

[4, 8, 42, 180]

In [6]:
strings= ["my","python"]

In [7]:
cap=map(lambda x: str.upper(x),strings)

In [8]:
cap

In [9]:
list(cap)

['MY', 'PYTHON']

In [11]:
# sort using lambda
attendance = [23,32,11,89,88,70]

In [12]:
# sorted() makes a different list with sorted elements
sorted(attendance)

[11, 23, 32, 70, 88, 89]

In [13]:
attendance

[23, 32, 11, 89, 88, 70]

In [14]:
sorted(attendance, reverse=True)

[89, 88, 70, 32, 23, 11]

In [17]:
# sort() modifies the original list
attendance.sort(reverse=True)

In [18]:
attendance

[89, 88, 70, 32, 23, 11]

In [31]:
attendance.sort(key= lambda x:x*1.5)

SyntaxError: positional argument follows keyword argument (<ipython-input-31-1ae8ebde878b>, line 1)

In [26]:
att=map(lambda x: x*1.5, attendance.sort())

TypeError: 'NoneType' object is not iterable

In [30]:
attendance

[11, 23, 32, 70, 88, 89]

In [32]:
check=[1,90,89,78,88,55]

In [34]:
abv_avg_att=filter(lambda x:x>=35,check)

In [35]:
abv_avg_att

In [36]:
list(abv_avg_att)

[90, 89, 78, 88, 55]

In [37]:
countries=["India", "Uk","Us","UAE","China","France"]

In [38]:
#filter is used to reduce element list based on some criteria
count_gt3=filter(lambda x:len(x)>3, countries)

In [39]:
count_gt3

In [40]:
list(count_gt3)

['India', 'China', 'France']

In [41]:
from functools import reduce

In [42]:
num=[10,20,30,40,80]

In [44]:
summedup=reduce(lambda x,y:x+y,num)

In [45]:
summedup

180

In [46]:
max(num)

80

In [47]:
maxval=reduce(lambda x,y:max(x,y),num)

In [48]:
maxval

80

In [49]:
minval=reduce(lambda x,y:min(x,y),num)

In [50]:
minval

10

In [53]:
# reduce is used to get single output
maxvalue=reduce(lambda x,y: x if(x>y) else y,num)

In [54]:
maxvalue

80

In [55]:
scores=[[1,32,90],[2,34,77],[3,43,100]]

In [56]:
abv_avg=35

In [57]:
new_marks= map(lambda x:x[2]+2 if x[1]>abv_avg else x[2]-2 , scores) # if second element of each list is greater than above average defined then third element is increased by 2 else 2 is subtracted

In [58]:
new_marks

In [59]:
list(new_marks)

[88, 75, 102]

In [60]:
sales=[{'country':'India','sale':120.3},{'country':"China","sale":100.90},{'country':"South Africa","sale":700}]

In [61]:
country_key=map(lambda x:x['country'],sales)

In [63]:
country_key

In [64]:
list(country_key)

['India', 'China', 'South Africa']

In [65]:
india_sales= filter(lambda x:x['country']=='India',sales)

In [66]:
india_sales

In [67]:
list(india_sales)

[{'country': 'India', 'sale': 120.3}]

In [71]:
highsales=filter(lambda x:x['sale']>120,sales)

In [72]:
highsales

In [73]:
list(highsales)

[{'country': 'India', 'sale': 120.3}, {'country': 'South Africa', 'sale': 700}]

In [74]:
list1=[10,20,30,40,70]
list2=[13,2,4,4,88,90]

In [76]:
sum=map(lambda x,y:x+y, list1,list2)

In [77]:
sum

In [78]:
list(sum)

[23, 22, 34, 44, 158]

In [83]:
multiply=lambda x,y:x*y

In [84]:
multiply(2,3)

6

In [81]:
list(multiply)

[<function __main__.<lambda>(x, y)>, 2, 3]